<h1> Edit Your Log Entry</h1> 

<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>
<br></br>

<form action="/books/<%= @book.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
Child_Name: <input type=text id="child_name" value="<%= @book.child_name %>" name="child_name">
<br></br>
Child_Age: <input type=number id="child_age" value="<%= @book.child_age %>" name="child_age">
<br></br>
Book_Title: <input type=text id="book_title" value="<%= @book.book_title %>" name="book_title">
<br></br>
Authors_Name: <input type=text id="authors_name" value="<%= @book.authors_name %>" name="authors_name">
<br></br>
Page_Count: <input type=number id="page_count" value="<%= @book.page_count %>" name="page_count">
<br></br>
Reading_Level: <input type=number id="reading_level" value="<%= @book.reading_level %>" name="reading_level">
<br></br>
<input type="submit" value="Update Log">
</form> 

