<p> Welcome to ReadTrack, <%= @current_user.username %></p>

<% if @errors %>
  <p style="color: red;"><%= @errors %></p>
<% end %>

<h1> Reading Log</h1>
<br>
<ul>
  <% if @books.size > 0 %>
    <% @books.each do |book| %>
      <% if book.user_id == @current_user.id %>
        <li><a href="/books/<%= book.id %>"><b><%= book.child_name %></b></a> <br>
        <b>Age:</b> <%= book.child_age %> <br>
        <b>Book Title:</b> <%= book.book_title %> <br>
        <b>Author's Name:</b> <%= book.authors_name %> <br>
        <b>Page Count:</b> <%= book.page_count %> <br>
        <b>Reading Level:</b> <%= book.reading_level %></li>
        <br></br>
      <% end %>
    <% end %>
    <a href="/books/new">Create new book</a>
  <% else %>
    <p> You don't have any recorded books yet! <a href="/books/new">Create a log entry here</a>.</p>
  <% end %>
</ul>
 

